// Theme: Lingopie
// Target: desktop scss
// Last Edited: 2021-10-25 15:10:41 UTC

/* Categories */


.navigation-controls {
    margin-bottom: 28px !important;
}
.fk-d-button-tooltip {
    margin-top: -8px !important; 
}
#create-topic {
    background: #fd4242;
    color: white;
    border-radius: 30px;
    height: 39px;
    padding-top: 5px;
}
